/* reglas
selectores
declaraciones
propiedades
valores */

/* seletor de etiqueta  header - section - article - nav */

/* header {
  background: pink;
  color: red
} */

/* selector descendente  */

/* body header div nav ol li a  */

/* selector de clase . */

/* .link */

/* selector de id # */

/* #portafolio */

/* gris oscuro = #1d252c */

/* gris claro = #626262 */

/* background gris = #1b2127 */

/* celeste = #026fff */

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: flex;
}

.header ol li .border {
  height: initial;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 14px 3px;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-course {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: "Fjalla One", sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  border: 1px solid red;
  flex-shrink: 0;
}

.project,
.event {
  box-shadow: 1px 1px 10px 1px lightgray;
}
.footer {
  text-align: center;
  background-color: #242121;
  display: block;
  color: white;
  border: 1px solid transparent;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20px;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #f4fbff;
}

.event img {
  max-height: 250px;
  object-position: 25% 25%;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.form-email input {
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  /*max size of container*/
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  padding: 0 1em;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
  flex: 1;
}

/*Diseño de la parte de conocimientos generales*/
.knowledge {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /*los elementos ocuparan 2 columnas*/
  grid-template-rows: repeat(2, 1fr); /*los elementos ocuparan 2 filas*/
}

.knowledge-item {
  margin: 3px;
  padding-left: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #ee680f;

  justify-content: center;
  align-items: center;
}

.knowledge-item h3 {
  margin: 0.5em;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(27, 33, 39, 0.8);
  display: block;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

/* Here we implement responsive design for our page */
/* Here we have the implementation of responsive design
in this case we are started with desktop first
and for desktop first we start with the MQ most big
*/

/* 1024px first */
@media screen and (max-width: 1024px) {
  h2:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 20%;
    font-size: 10px;
    color: #026fff;
    width: 20px;
    height: 20px;
    background-color: #026fff;
    border-radius: 50%;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: relative;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 300px;
  }

  h1 {
    font-size: 2em;
    text-align: right;
    z-index: 2;
    text-shadow: 1px 2px 2px #000000;
  }
  .header a:hover {
    background-color: white;
    color: tomato;
  }
}

/* 768px second */
@media screen and (max-width: 767px) {
  .burger-button {
    display: flex;
  }

  .hero-image {
    position: relative;
  }
  .h1 {
    text-shadow: 1px 2px 2px #000000;
    text-align: center;
    width: 50%;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: initial;
  }
  .header ol li {
    height: 50px;
  }

  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
  }
  .header a:hover {
    background-color: white;
    color: tomato;
  }
  .header .logo {
    text-align: center;
  }
  .menu ol {
    margin-bottom: 25em;
  }

  .menu {
    position: fixed;
    background-color: rgba(5, 111, 255, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .menu.is-active {
    left: 0;
  }
  .project {
    display: block;
  }

  .project-imageContainer {
    width: auto;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }
  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }

  .project-course {
    font-size: 0.7em;
    margin: 0.4em 0;
  }
  .project-description {
    font-size: 0.8em;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }

  .knowledge {
    grid-template-columns: repeat(2, 1fr);
  }
  .knowledge-item {
    padding-left: 1em;
  }
}

/* 480px third */
@media screen and (max-width: 480px) {
  .hero-image {
    display: none;
  }
  h1 {
    font-size: 1.3em;
    text-shadow: 1px 2px 2px #000000;
    width: 250px;
    text-align: center;
  }
  h2:before {
    width: 15px;
    height: 15px;
    left: -24px;
  }

  .project-details {
    width: auto;
    font-size: 12px;
  }

  .event-detail {
    margin: 2em 0.5em 0.5em;
  }
  .contact {
    height: auto;
    padding: 1em 0;
    text-align: center;
    display: block;
  }
  .knowledge-item {
    padding-left: 1em;
  }
}

/* 320px lasted*/

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.3em;
    text-shadow: 1px 2px 2px #000000;
  }
  .hero {
    padding: 2em 1em;
  }
}
